.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
coverage

# Bundler
.bundle/*

node_modules/

.kitchen/
.kitchen.local.yml
.asset-cache
.sass-cache
_site
docs/build/*
!docs/build/.keep
vendor
client.pem
.chef.login
*.tar.gz
