---
---

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Inconsolata" type="text/css">
    <title>opsworks_ruby – manage Ruby deployments on AWS OpsWorks Chef 12 stack</title>
    <meta name="author" content="Igor Rzegocki">
    {% css home %}
  </head>
  <body>
    {% include navigation.html %}
    <main>
      {% include hero.html %}
      {% include supported-technologies.html %}
    </main>
    {% include footer.html %}
    {% include analytics.html %}
    <script>var BASE_URL = '{{site.baseurl}}';</script>
    {% js main %}
  </body>
</html>
