<section class="layout">
  <section class="content content--large content--grid content--centered">
    <div class="content--grid__full">
      <h2>Works out of the box, with your favorite tools</h2>
    </div>
    <article class="content--grid__item">
      <div class="content--iconset">
        <i class="icon-aws"></i>
        <i class="icon-debian"></i>
        <i class="icon-ubuntu"></i>
      </div>
      <h4>
        Linux Distributions
      </h4>
      <p>
        Amazon Linux, Debian and&nbsp;Ubuntu
      </p>
    </article>
    <article class="content--grid__item">
      <div class="content--iconset">
        <i class="icon-mariadb"></i>
        <i class="icon-mysql"></i>
        <i class="icon-postgresql"></i>
        <i class="icon-sqlite"></i>
      </div>
      <h4>
        Databases
      </h4>
      <p>
        MariaDB, MySQL, PostgreSQL and&nbsp;SQLite
      </p>
    </article>
    <article class="content--grid__item">
      <div class="content--iconset">
        <i class="icon-hanami"></i>
        <i class="icon-padrino"></i>
        <i class="icon-rails"></i>
      </div>
      <h4>
        Frameworks
      </h4>
      <p>
        hanami.rb, Padrino and&nbsp;Ruby on Rails
      </p>
    </article>
    <article class="content--grid__item">
      <div class="content--iconset">
        <i class="icon-puma"></i>
        <i class="icon-thin"></i>
        <i class="icon-unicorn"></i>
      </div>
      <h4>
        Application Servers
      </h4>
      <p>
        Puma, Thin and&nbsp;Unicorn
      </p>
    </article>
    <article class="content--grid__item">
      <div class="content--iconset">
        <i class="icon-apache"></i>
        <i class="icon-nginx"></i>
      </div>
      <h4>
        HTTP Servers
      </h4>
      <p>
        Apache2 and&nbsp;Nginx
      </p>
    </article>
    <article class="content--grid__item">
      <div class="content--iconset">
        <i class="icon-cogs"></i>
        <i class="icon-resque"></i>
        <i class="icon-sidekiq"></i>
      </div>
      <h4>
        Workers
      </h4>
      <p>
        delayed_job, Resque and&nbsp;Sidekiq
      </p>
    </article>
    <footer class="content__footer">
      <a class="button" href="/docs/latest">
        Full Documentation
      </a>
    </footer>
  </section>
</section>

