.builder--main {
  background: $light-gray;
  border-top: 70px solid $orange;
  display: flex;
}

.builder--form {
  flex-basis: 50%;
  padding: 3rem 1rem;
}

.builder--output__container {
  flex-basis: 50%;
  padding: 0 1rem;
}

.builder--output {
  width: 100%;
}

.code-window-container {
  padding: 3rem 0 0;
}

.code-window {
  background: $white;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
  height: calc(100vh - 70px - 6rem);
  margin: 0 auto -5rem;
  max-width: 700px;
  overflow: hidden;

  .code-header {
    background: $orange;
    border-bottom: 1px solid $dark-orange;
    color: $white;
    font-size: .9rem;
    height: 33px;
    padding: .4rem;
    position: relative;
    text-align: center;

    .code-buttons {
      background: $dark-orange;
      border-radius: 50%;
      box-shadow: -20px 0 0 $dark-orange, 20px 0 0 $dark-orange;
      height: 11px;
      left: 0;
      margin-left: 35px;
      margin-top: 12px;
      position: absolute;
      top: 0;
      width: 11px;
    }
  }

  .code-editor {
    height: calc(100vh - 136px - 6rem);
    position: relative;
  }

  .code-footer {
    background: $silver;
    display: flex;
    font-size: .9rem;
    height: 33px;
    padding: .4rem;
    position: relative;
    text-align: center;

    a {
      color: $text;
      cursor: pointer;
      flex-basis: 50%;
    }
  }
}

html {
  font-size: 16px;
}

.form-group textarea {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 13px;
  height: 6rem;
  resize: vertical;
}

.bs-callout {
  background: $white;
  border: 1px solid $silver;
  border-left-width: 5px;
  border-radius: 3px;
  margin: 20px 0;
  padding: 20px;
}

.bs-callout-danger {
  border-left-color: $ruby-red;

  h4 {
    color: $ruby-red;
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
