.hero {
  align-items: center;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100vw;

  &::after {
    background: linear-gradient(135deg, $orange, $ruby-red);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}

.hero__heading {
  color: rgba($white, .7);
  font-weight: 300;
  margin-bottom: 2rem;
  text-align: center;
}

.hero__code {
  background-color: rgba($navy, .3);
  border-radius: 4px;
  padding: 1.5rem 3rem;

  code {
    font-size: 1.25rem;
  }
}

.hero__logo {
  color: $white;
  font-size: 10rem;
  white-space: nowrap;
}
