.navigation {
  position: absolute;
  right: 1.5rem;
  top: .5rem;
  z-index: 1;

  a {
    color: $white;
    display: inline-block;
    vertical-align: middle;
  }

  img {
    vertical-align: middle;
  }

  li {
    display: inline-block;
    font-size: 1rem;
    list-style-type: none;
    padding: 0 1rem;
  }

  ul {
    margin: 1rem auto;
    padding: 0;
  }
}

.navigation__icon {
  margin-bottom: .25rem;
  margin-right: .25rem;
}
